body {
  display: flex;
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
  min-height: 100vh;
  flex-direction: column;
}

.fade-out {
    opacity: 0;
    transition: none;
}

.hidden {
  display: none;
}

.drop {
  margin-top: 40px;
}

.highlighted {
  text-decoration: underline;
}

header {
  display: flex;
  // justify-content: space-between;
  padding: 10px 0px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 5px black;
}

main {
  display: flex;
  flex: 1;
}

.galleryBox {
  a img {
    // float: left;
    width: 20%;
    height: auto;
    border: 2px solid #fff;
    -webkit-transition: -webkit-transform .15s ease;
    -moz-transition: -moz-transform .15s ease;
    -o-transition: -o-transform .15s ease;
    -ms-transition: -ms-transform .15s ease;
    transition: transform .15s ease;
    position: relative;
  }
  a:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 5;
  }
}

a {
  color: black;
  text-decoration: none;
}

#contactPopUp {
  display: none;
  position: relative;
  background-color: white;
  z-index: 1;
}

#aboutPopUp {
  display: none;
  position: relative;
  background-color: white;
  z-index: 1;
  img {
    margin: 10px 25px 15px 0px;
  }
}

.menuWrap {
  display: flex;
  flex: 0 0 25%;
  align-items: flex-end;
  margin-bottom: 20px;
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
  font-size: 18px;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
}

/*Strip the ul of list styling*/
ul {
  display: flex;
  align-items: center;
	list-style-type:none;
  margin: 0px;
  padding: 0px;
}

/*Style for menu links*/
li a {
	display:block;
	min-width:130px;
	height: 30px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
  color: black;
}

/*Hover state for top level links*/
li:hover a {
	color: #6789f4;
  text-decoration: underline;
}



/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  height: 65px;
  margin-top: 30px;
  p {
    display: flex;
    align-items: center;
    margin-left: 25px;
    font-size: 15px;
  }
  .footerSocialBoxWrap {
    display: flex;
    align-self: center;
    flex: 0 0 25%;
  }
  .footerSocialBox {
    margin-left: 10px;
    margin-right: 20px;
    padding-bottom: 22px;
  }
}
