body {
  display: flex;
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
  min-height: 100vh;
  flex-direction: column;
  opacity: 1;
  transition: 2.5s opacity;
}

header {
  display: flex;
  // justify-content: space-between;
  padding: 10px 0px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 5px black;
}

main {
  display: flex;
  flex: 1;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  height: 65px;
  margin-top: 30px;
  p {
    display: flex;
    align-items: center;
    margin-left: 25px;
    font-size: 15px;
  }
  .footerSocialBoxWrap {
    display: flex;
    align-self: center;
    flex: 0 0 25%;
  }
  .footerSocialBox {
    margin-left: 10px;
    margin-right: 20px;
    padding-bottom: 22px;
  }
}
