body {
  display: flex;
  flex-direction: column;
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
  min-height: 100vh;
  opacity: 1;
  transition: 2.5s opacity;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
}

p {
  margin-bottom: 20px;
}

.fade-out {
    opacity: 0;
    transition: none;
}

.hidden, .showWhenSmall {
  display: none;
}

.drop {
  margin-top: 40px;
}

.highlighted {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 5px black;
}

.logoWrap {
  display: flex;
  justify-content: center;
}

.menuWrap {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
  font-size: 18px;
  background-color: white;

  /*Strip the ul of list styling*/
  ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
  }

  /*Style for menu links*/
  li a {
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    font-size: 1.6em;
  }
}

/*Hover state for top level links*/
li:hover a {
	color: #6789f4;
  text-decoration: underline;
}

main {
  display: flex;
  flex: 1;
}

.galleryBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  a img {
    width: 11em;
    height: auto;
    border: 2px solid #fff;
    margin: 4px;
    -webkit-transition: -webkit-transform .25s ease;
    -moz-transition: -moz-transform .25s ease;
    -o-transition: -o-transform .25s ease;
    -ms-transition: -ms-transform .25s ease;
    transition: transform .25s ease;
    position: relative;
  }

  a:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 5;
  }
}

#contactPage {
  display: none;
  position: relative;
  background-color: white;
  z-index: 1;
}

#aboutPage {
  display: none;
  position: relative;
  background-color: white;
  z-index: 1;
  img {
    margin: 10px 25px 15px 0px;
  }
}


/* FOOTER */

footer {
  display: flex;
  justify-content: space-around;
  height: 65px;
  margin-top: 30px;

  p {
    font-size: 15px;
  }
}


/*Responsive Styles*/

@media screen and (max-width : 1000px){

  .showWhenBig {
    display: none;
  }

  .showWhenSmall {
    display: inherit;
  }

  .menuWrap, .logoWrap {
      ul li a {
        font-size: 2em;
      }
    }

  .socialBoxWrap {
    margin-top: 30px;
    border-top: 1px solid grey;
    padding-top: 40px;
  }

  .galleryBox {
    a img {
      width: 14em;
    }
  }
}
